*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"ykan" ;
    src: url("./fonts/ykan/IRANYekanRegular.ttf");
}

body{
    font-family: "ykan";
    background-color: #f5f5f5;
}

header{
    z-index: 2;
}

.logo{
    width: 70px;
}
.offcanvas-start{
    width: 250px;
}
input::placeholder{
font-size: 0.75rem;
}
.input{
    padding-right: 35px;
    background-color: #f0f0f1;
    height: 32px;
    width: 100%;
}
.serach{
    top: 9px;
    right: 5px;
}
.sgin-in{
    font-size: 0.75rem;
}
.choose-city{
    font-size: 0.7rem; 
}
.sgin-in-md{
    font-size: 00.75rem;
}

.section_one,.section_tow{
    border-bottom: 1px solid rgba(0, 0, 0,0.25);
}



.main-section{
    z-index: 2 ;
    
}


.sidebar-link[aria-expanded="true"] .left-icon{
    transform: rotate(180deg);
}

.nav-item a{
    font-size: 0.8rem;
    color: black !important;
}

.card-body span{
    font-size: 0.8rem;
}

.pishnahad_image {
    max-width: 250px;
    width: 175px;
}

.product-image img{
    max-width: 175px;
    width: 175px;
}




@media(min-width:768px){
    .input{
        width: 60%;
    }
    .section_one,.section_tow{
        border-bottom: none;
    }
    .logo{
        width: 100px;
    }
    .is-hidden{
        position: relative;
        z-index: -2;
        width: 100%;
        transform: translateY(-100px);
    }
    .is-visible{
        position: relative;
        transform: translateY(0);
        transition: 0.3s;
        width: 100%;
    }
    .nav-item a{
        font-size: 0.65rem;
        padding: 0 0.5rem !important;
        color: black !important;
    }
    
    ul li:first-child a{
        padding-right: 0!important;
    }
    .input{
        height: 40px;
    }
    .serach{
        top: 12px;
    }
    
.pishnahad_image {
    max-width: 260px;
    width: 260px;
}
}

@media(min-width:1200px){
    .nav-item a{
        font-size: 0.78rem;
        padding: 0 0.5rem !important;
        color: black !important;
    }
}


